/* BODY */


/* Vorschau für Bilder */
.vorschau {
    padding:9em;
    text-align: center;
    color: var(--color-white);
    background:var(--color-secondary);
    font-family: poppins;
    font-size: 20px;
    font-style: italic;
}

/* Fülltext */
.fülltext {
    padding: 3em;
}
.fliestext {
    column-count: 3;
    column-gap: 2em;
    column-rule-color: var(--color-primary);
}
