/* BODY */

body {margin: 0;}

/* Vorschau für Bilder */
.vorschau {
    padding: 9em;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-secondary);
    font-family: poppins;
    font-size: 20px;
    font-style: italic;
}

/* Fülltext */
.fuelltext {
    padding: var(--unit-xl);
}
.fliestext {
    column-count: 3;
    column-gap: var(--unit-l);
    column-rule-color: var(--color-primary);
    text-align: justify;
}
