/* FOOTER */


/* Logo footer */
.logofooter {
    padding: var(--unit-s);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-family: Poppins;
    font-size: 45px;
}

/* Navigation footer*/
.footer {
    padding: var(--unit-l);
    column-count: 3;
    column-gap: 5em;
    text-align: center;
    color: var(--color-secondary-dark);
    background-color: var(--color-grey);
    font-family: poppins;
}

.footer > .liste {
    list-style: none;
    margin: 0em;
}