@import url(header.css);
@import url(body.css);
@import url(footer.css);
@import url(tokens.css);



:root {

    /* Units */
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;

    /* Colors */
    --color-primary: ;
    --color-secondary: ;

}

body {
    font-family: 'Gill Sans';
    font-size: 12px;
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
}




/* Header Logo */
.header {
    padding: 5px;
    font-size: 20px;
    font-family:'Gill Sans';
    text-align: center;
    background: rgb(128, 177, 150);
    color: white; 
}

/* Navigation */
.navi {
    float:left;
    text-align: center;
    color: rgb(54, 87, 68);
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 33.33%;
}





/* Vorschau */
.vorschau {
    padding:120px;
    text-align: center;
    background: rgb(212, 212, 212);
}
/* Fülltext */
.main {
    padding: 2‚0px;
}

