/* TOKENS */


/* UNITS & COLORS */

:root {

    /* Units */
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;
    --unit-xl: 64px;

    /* Colors */
    --color-black: rgb(0, 0, 0);
    --color-grey: rgb(219, 219, 219);
    --color-white: rgb(255, 255, 255);

    --color-primary: rgb(219, 197, 98);

    --color-secondary-dark: rgb(52, 78, 118);
    --color-secondary: rgb(94, 121, 160);
    --color-secondary-light: rgb(150, 174, 210);

    background-color:var(--color-white);
}



/* FONTS */

/* Überschriften */
h1 {
    font-family: poppins;
    font-size: 30px;
    color: var(--color-primary);
}

h2 {
    font-family: poppins;
    font-size: 25px;
    color: var(--color-secondary);
}

h3 {
    font-family: poppins;
    font-size: 18px;
    color: var(--color-secondary-light);
}

/* Texte */
p {
    margin-block-start: 0em;
    margin-inline-end: 0em;
    font-family: poppins;
    font-size: 15px;
}
